parameters:
  #level: 5
  level: 0
  paths:
    - corvuspay-woocommerce-integration.php
    - uninstall.php
    - includes/
  bootstrapFiles:
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
  scanDirectories:
    - vendor/woocommerce/subscriptions-core/includes/
